div.nicetitle {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 25em;
    background-color: #333;
    border: 1px solid #000;
    -moz-opacity: 95%;
    z-index: 9;
}
div.nicetitle p {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}
div.nicetitle p.text {
    padding: 0.25em 0.5em;
    margin: 0em;
}
div.nicetitle p.destination {
    font-size: 9px;
    text-align: left;
    color: #aaa;
    margin: 0.25em 0.5em;
    padding: 0.25em 0em;
    border-top: 1px dashed #888;
}
div.niceglossary {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #000;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 25em;
    background-color: #ccc;
    border: 1px solid #000;
    -moz-opacity: 95%;
    z-index: 9;
}
div.niceglossary p {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}
div.niceglossary p.defn {
    padding: 0.25em;
    margin: 0.25em;
    background-color: #fff;
    border: 1px solid #888;
}
div.niceglossary p.title {
    color: #080;
    padding: 0.1em 0.5em;
    font-weight: bold;
}
